@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  src: url('./fonts/PingFang-SC-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Senty Pea';
  src:
    url('./fonts/SentyPea.woff2') format('woff2'),
    url('./fonts/SentyPea.ttf') format('truetype');
}

@font-face {
  font-family: 'Senty Cream';
  src:
    url('./fonts/SentyCreamPuff.woff2') format('woff2'),
    url('./fonts/SentyCreamPuff.ttf') format('truetype');
}

@font-face {
  font-family: 'Senty Tang';
  src:
    url('./fonts/SentyTang.woff2') format('woff2'),
    url('./fonts/SentyTang.ttf') format('truetype');
}
